<div class="container">
	<h3><i class="fa fa-truck" aria-hidden="true"></i> Endereços de envio registrados</h3>
	<p>{{shippingListVm.length}}</p>
	<div ng-repeat="shippingAddress in shippingListVm.shipping_addresses">
		<p><strong>Endereço:</strong> {{shippingAddress.address}}, {{shippingAddress.city}}</p>
	</div>
</div>