<div class="container">
	<p ng-hide="shippingFormVm.uiMessages.formSubmitionPristine">
		{{shippingFormVm.uiMessages.formSubmitionMsg}}
	</p>
	<button class="pure-button pure-button-primary button-large" ng-click="shippingFormVm.uiControl.toggleForm()" ng-hide="shippingFormVm.uiState.form">
		<p><i class="fa fa-plus" aria-hidden="true"></i> Novo endereço de entrega</p>
	</button>	
	<div ng-show="shippingFormVm.uiState.form">
		<form class="pure-form-aligned">
			<fieldset>
				<div class="pure-control-group">
					<label for="address">Endereço</label>
					<input id="address" type="text" ng-model="shippingFormVm.address" placeholder="Endereço"/>
				</div>
				<div class="pure-control-group">
					<label for="city">Cidade</label>
					<input id="city" type="text" ng-model="shippingFormVm.city" placeholder="Cidade"/>
				</div>
				<button class="pure-button pure-button-primary" ng-click="shippingFormVm.actions.submitForm()">Salvar</button>
				<button class="pure-button pure-button-primary" ng-click="shippingFormVm.uiControl.toggleForm()">Cancelar</button>	
			</fieldset>
		</form>
	</div>
</div>