<div class="pure-g">
	<div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4"></div>
	<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
	<h3>Pedidos</h3>
	<div class="container">
		<wlmt-order-details></wlmt-order-details>
	</div>	
	</div>
	<div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4"></div>
</div>