<h3>Bem vindo {{userDetailsVm.user.name}}!</h3>
<h4><i class="fa fa-phone" aria-hidden="true"></i> Telefone: {{userDetailsVm.user.phone}}</h4>
<h4><i class="fa fa-envelope" aria-hidden="true"></i> Email: {{userDetailsVm.user.email}}</h4>
