<div class="product-info-container">
	<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 product-info">
		<strong>{{orderDetailsVm.order.product_name}}</strong>
	</div>
	<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 product-info price-tag">
		<strong class=""><i class="fa fa-tag" aria-hidden="true"></i> {{orderDetailsVm.order.product_price}}</strong>
	</div>
	<div class="pure-u-1 pure-u-md-1 pure-u-lg-1 product-status">
		<strong>Status: <i class="fa fa-file-text" aria-hidden="true"></i> {{orderDetailsVm.order.product_status}}</strong>
	</div>
	<div class="pure-u-1 pure-u-md-1 pure-u-lg-1">
		<img src="{{orderDetailsVm.order.product_photo}}" class="product-image" />
	</div>
</div>

