/*=========NAVIGATION==========*/

.nav-menu {
  background-color: #2577c1;
}

#toggle-menu {
  display: none;
}

#menu {
  height: 77.2px;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear;
}

/*======NAVIGATION ITENS=======*/

.pure-menu-link {
  font-size: 20px;
  color: #e2e2e2;
}

.pure-menu-link:hover {
  color: orange;
  background-color: transparent;
}

.pure-menu-link:focus {
  background-color: transparent;
}

.pure-menu-link, .pure-menu-disabled, .pure-menu-heading {
  padding: 0.5em 1.7em;
}

.pure-menu-active {
  color: orange;
}

/*==========BRAND=============*/

.brand-nav-image {
  height: 55px;
}

/*========REPONSIVE===========*/

@media (max-width: 680px) {

  #toggle-menu {
    position: absolute;
    display: block;
    top: 12px;
    left: 80%;
    text-decoration: none;
    color: white;
    font-weight: 400;
  }
  
  .pure-menu-horizontal .pure-menu-item, .pure-menu-horizontal .pure-menu-heading, .pure-menu-horizontal .pure-menu-separator {
    display: block;
    zoom: 1;
    vertical-align: middle;
  }

  .pure-menu-horizontal .pure-menu-list {
    display: block;
  }

  .active-menu {
    height: 190px !important;
  }

  .inactive-menu-item {
    display: none;
  }

  .pure-menu-item {
    margin-left: 12px;
  }

  .pure-menu-item:last-child {
    padding-bottom: 10px;
  }

}