/*============MAIN CONTENT=============*/

.content {
	margin-left: auto;
	margin-right: auto;
	max-width: 768px;
	padding-left: 2em;
	padding-right: 2em;
	color: #4b4b4b;
}

.container {
	border-top: 1px solid #656565;
	padding-top: 20px;
}

/*===========BUTTONS===================*/

.button-large {
	background-color: #004c91;
	width: 100%;
	color: #cfcfcf;
}

/*===========ORDER DETAILS=============*/

.price-tag {
	color: green;
	
}

.product-info {
	margin-bottom: 15px;
}

.product-status {
	color: #2577c1;
}

.product-image {
	max-width: 100%;
}