<div class="pure-g">
	<div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4"></div>
	<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
		<wlmt-user-details></wlmt-user-details>
		<wlmt-shipping-list></wlmt-shipping-list>
		<wlmt-shipping-form></wlmt-shipping-form>
	</div>
	<div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4"></div>
</div>
	